@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --primary-color: #fd951f;
    --secondary-color: #1f53fd ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style-type: none;
    border: none;
}

html,body{
    min-height: 100vh;
}

body{
    font-family : 'Roboto', sans-serif;
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
}
.container{
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.footer {
    margin-top: auto;
}

.button {
    background-color: var(--primary-color);
    color: white;

    display: block;
    margin: 16px 0 ;
    padding: 12px 16px;

    width: 100%;

    /* para colocar o batao para baixo */
    align-self: end;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;

    cursor: pointer;

    transition: all 0.2s;
}

.button:hover {
    background-color: #d67301;
}

.delete{
background-color: lightgray;
}
.edit{
background-color: var(--secondary-color);
}

.delete:hover{
background-color: rgb(185, 60, 60);
}

.edit:hover{
background-color: #060885;
}

/* HEADER */

header, footer{
    background-color: black;
    color: white;

    width: 100%;
    padding: 32px 0;
    text-align: center;
}

header div.container{
    display: grid;
    grid-template-columns: 220px auto 280px;
    align-items: center;
    gap: 24px;
}

header div.container a {
    justify-self: start;
}

/* LOGO/ */

.logo h1{
    color: white;
    font-size: 36px;
    line-height: 46px;
}

.logo h2 {
    color: var(--primary-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
}

/* HEADER SEARCH */

.search input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
}

/* PRIMARY MENU */

nav.primary ul {
    display: flex;
    justify-content: space-between;
}

nav.primary ul li a {
    display: flex;
    align-items: center;

    color: white;

    transition: 200ms;

}

nav.primary ul li a:hover {
    color: var(--primary-color);
}

nav.primary ul li a i {
    margin-right: 8px;
}

/* PRODUCT FORM */

section.form {
    background-color: white;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, .9);
    border: 1px solid #efefef;
    border-radius: 4px;

    max-width: 700px;
    width: 90%;
}

section.form .header h3{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    font-weight: bold;
    color: var(--primary-color);

    margin-bottom: 16px;
}
form .fields{
    margin-bottom: 64px;
}

form .item{
    margin-bottom: 16px;
}

/* getting the first div on form .item */
form .item > div:nth-child(1){
    color:#777;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    margin-bottom: 8px;
}

form .item input[type="text"],
form .item input[type="number"],
form .item textarea,
form .item select{
    width: 100%;

    padding: 8px 16px;

    box-shadow: 2px 2px 2px -4px rgba(60, 60, 60, .9);

    border: 1px solid #efefef;
    border-radius: 4px;

    font-size: 16px;
}

form .item textarea {
    min-height: 150px
}


form .item span {
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color:white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}


/* PHOTOS UPLOAD */

form .item #photos-upload {
    position: relative;

    display: block;
    overflow:hidden;

    width: 200px;
}

form .item #photos-upload p{
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--secondary-color);
    color: white;

    width: 100%;
    cursor: pointer;

    text-transform: uppercase;
    font-size: 12px;

    text-align: center;
}

form .item #photos-input{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .item #photos-preview{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    width: 100%;
    margin: 8px 0;
}

form .item #photos-preview img {
    width: 100%;
    height :150px;

    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    
    background: rgba(255, 255, 255, 0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition:  opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i{
    opacity: 1;
}

/* PRODUCT VIEW */

.product-single{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;

    padding: 32px 24px;
    margin: 32px auto;

    box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);

    border: 1px solid;
    border-radius: 4px;
}

    /* product single gallery */

.product-single .gallery {
    width: 100%;
}

.product-single .highlight > img{
    width: 100%;
    height: 280px;

    object-fit: none;
    object-position: 50% 50%;
    border: 1px solid #efefef;

    cursor: zoom-in
}

.product-single .gallery-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2px ;

}

.product-single .gallery-preview img{
    height: 100px;
    width: 100%;

    object-fit: cover;

    opacity: 0.6;

    cursor: pointer;

    transition: 200ms;
}

.product-single .gallery-preview img:hover,
.product-single .gallery-preview img.active{

opacity: 1;
}

/* product single info */

.product-single .info{
    display: grid;
    grid-template-rows: auto 40px 2fr 1fr;
}
.product-single .info h1 {
    font-size: 32px;
    line-height: 42px;
    color: #333;
    text-transform: uppercase;
}

.product-single .info .published{
    color: #888;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.4px;
}

/* price-buy */

.product-single .price-buy{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 8px;
    border-top: 1px solid #eee;
}

.product-single .price-buy .price{
    font-size: 24px;
    color:#333; 
    font-weight: bold;

    display: flex;
    align-items: center;
}

.product-single .price-buy .price .old{
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    margin-left: 8px;
}

.product-single .price-buy .buy button {
    background-color: var(--secondary-color);

    font-size: 14px;
    letter-spacing: 0.4px;
}

/* product gallery */
.gallery {
    width: 100%
}